img{
    width: 100px;
    height: 80px;
}

header{
    background-color: rgb(244, 241, 238);
    height: 100px;
    font-size: 45px;
    text-align: center;

}
    
nav{
    background-color: rgb(218, 178, 126);
    height: 60px;
}
section{
    background-color: rgb(11, 11, 11);
    width: 70%;
    height: 900px;
    display: inline-block;
    vertical-align: top;
    display: inline-block;

}
section .card{
    width: 24%;
    background-color: beige;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    vertical-align: top;
}
section .card img{
    width: 150px;
    height: 30%;
}
aside{
    background-color: black;
    width:29%;
    height: 900px;
    display: inline-block;
}
aside img{
    width: 400px;
    height: 300px;
}
footer{
    background-color: black;
    height: 50px;
    color: white;
}